.header-wrapper {
	//-----------------------------------------
	//	Main Configuration
	//-----------------------------------------
	color: $yorkWhite;
	background: $yorkRed $banner no-repeat;
	background-size: cover;
	background-position: center;
	background-size: 1650px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	.navbar-brand {
		display: none;
	}
	.nav {
		min-height: $header-min-height;
	}
	
	ul.nav.navbar-nav {
		margin: 0 5%;
	}

	.header-shadow {//	Shadow
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0px 4px 10px #888888;

		li:hover {
			background: rgba(230, 127, 127, 0.24);
		}
		
		a.header-item {
			color: $yorkWhite;

		}
		.navbar-brand {
			color: $yorkWhite;
		}
	}

	@media (max-width:766px) {
		.navbar-brand {
			display: inherit;
		}
		.navbar-collapse {
			ul{
				margin: 0 !important;
			}
		}
	}	
	@media (max-width:1000px) and (min-width:767px) {
		.navbar-collapse {
			ul{
				margin: 0 8.5% !important;
			}
		}
	}
	@media (max-width:1200px) and (min-width:1001px){
		.navbar-collapse {
			ul{
				margin: 0 18.5% !important;
			}
		}
	}
}