.footer-wrapper {
	background: $yorkDarkRed;
	@extend .york-text-center;
	text-transform: uppercase;
	color: $yorkWhite;
	padding: 10% 0 20% 0;

	header {
		h2 {
			font-size: 3em;
			font-weight: 700;
		}
		.byline {
			div {
				cursor: text;
				letter-spacing: 1px;
				font-size: 1.5em;
				color: rgb(175, 108, 108);
			}
		}
	}

	ul.icons {
		margin-top: 1em;

		li {
			display: inline-block;
			line-height: 1em;
			padding: 0.5em 1em;

			.fa{
				color: rgb(175, 108, 108);
				font-size: 2em;
				@include transition(all, 0.35s, ease-in-out);

				&:hover {
					text-decoration: none;
					font-size: 2.5em;
					color: $offWhite;
				}
			}
		}
	}
}