.main-wrapper-1 {
	margin-top: 3%;
	padding: 6em 0em 3em 0em;
	background: $yorkRed url(../images/banner.jpg) no-repeat;
	background-position: center;
	background-size: 1650px;
	
	.container {
		padding: 0em 8em;
		line-height: 100%;
		text-align: -webkit-center;

		.banner {
			display: inline-block;
			padding: 0.2em 0.30em;
			background: rgba(255, 0, 0, 0.55);
			font-size: 3em;
			font-weight: bold;
			opacity: 0.9;
			margin: 3px 0px;
			color: $yorkWhite;
		}
	}
}
.main-wrapper-2 {
	background: $yorkWhite;
	
	h1 {
		font-size: 26px;
		font-weight: bold;	
	}
	.york-btn {
		float: right;
	}

	#recent_news_big_main {
		img {
			width: 250px;
		}
	}
}
.main-wrapper-3 {
	background: $yorkRed;
	text-align: -webkit-center;
	color: $yorkWhite;
	padding: 5% 0;

	h2 {
		font-size: 2.6em;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		font-size: 1.3em;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.main-wrapper-4 {
	background: $yorkWhite;
	text-align: -webkit-center;
	color:#555555;
	padding: 5%;
	
	header {
		h2 {
			font-size: 2.6em;
			font-weight: 700;
			text-transform: uppercase;
		}
		span {
			display: block;
			padding-top: 1em;
			letter-spacing: 1px;
			font-size: 1.4em;
		}
	}

	ul.special-icons {
		text-align: initial;
		margin-bottom: 0.80em;
		line-height: 2em;
		text-transform: uppercase;
		list-style-type: none;

		.glyphicon {
			float: left;
			display: inline-block;
			padding-right: 1em;
			font-size: 1.4em;
			color: #8E0000;
		}
		h3 {
			margin-bottom: 0.80em;
			line-height: 2em;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.2em;
		}
	}
}
.main-wrapper-5 {
	background: $yorkRed;
	text-align: -webkit-center;
	color: $yorkWhite;
	padding: 5% 0;

	header {
		padding: 3%;
	}
	
	h2 {
		font-size: 2.6em;
		font-weight: 700;
		text-transform: uppercase;
	}

	h3 {
		margin-bottom: 0.50em;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.5em;
	}

	p{
		font-size: 1.2em;
	}

	img {
	 	border-radius: 50%;
		border: 10px solid;
		border-color: white;
	 }
}