.news {
	.container {
		.sidebar-box {
			h4 {
				padding: 0 5px;
				margin: 0;
				font-weight: 700;
			}
			h5 {
				padding: 0 5px;
			}
			background: rgba(233, 218, 218, 0.19);
			border-radius: 1%;
		}
		.newsbit {
			border-radius: 5%;
			border: 1px rgba(198, 101, 101, 0.34) solid;

			&:hover {
				border-radius: 2%;
			}

			h1 {
				padding-bottom: 0;
				font-size: 1.5em;
			}
			p {
				min-height: 7em;
			}
			.york-white-btn {
				float: right;
				margin-right: 5%;
				font-size: 1em;
				font-weight: 600;
			}
		}
	}
}

.article {
	@media (max-width:600px) {
		img {
			width: 100%;
		}
	}
}