<div class="wrapper style6" id="footer">			
	<section class="container">
		<header class="major">
			<h2>Connect with us</h2>
			<span class="byline">actsciyorku@gmail.com</span>
		</header>
		<ul class="icons">
			<li class="active" title="Facebook">
				<a href="https://www.facebook.com/ActuarialStudentAssociationYorkUniversity" class="fa fa-facebook">
					<span>Facebook</span>
				</a>
			</li>
			<!--<li class="active" title="Twitter">
				<a href="#" class="fa fa-twitter">
					<span>Twitter</span>
				</a>
			</li>-->
			<li class="active" title="Actuary Department">
				<a href="http://actsci.math.yorku.ca/" class="fa fa-dribbble">
					<span>Actuary Department</span>
				</a>
			</li>
			<li class="active" title="Google+">
				<a href="https://plus.google.com/u/1/102270542725084766252/posts" class="fa fa-google-plus">
					<span>Google+</span>
				</a>
			</li>
		</ul>
	</section>
	<div id="copyright">
		<a href="http://templated.co">TEMPLATED</a> 
		Images: <a href="http://unsplash.com">Unsplash</a> 
		(<a href="http://unsplash.com/cc0">CC0</a>)
	</div>
</div>