<div class="wrapper style5" id="exec_team">
	<section id="team" class="container">
		<header class="major">
			<h2>Meet our Executive Team!</h2>
		</header>
		<div class="row">
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/ManagingDirector.png" alt="">
				</a>
				<h3>Alexander Tam</h3>
				<p>Managing Director</p>
			</div>
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/FinanceDirector.png" alt="">
				</a>
				<h3>Asad Durrani</h3>
				<p>Finance Director</p>
			</div>
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/AcademicDirector.png" alt="">
				</a>
				<h3>Syed Asghar</h3>
				<p>Academic Director</p>
			</div>
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/Webmaster.png" alt="">
				</a>
				<h3>Ariel Sosnovsky</h3>
				<p>Communication Director</p>
			</div>
        </div>
		<div class="row">
			<div class="3u">
              <!--<a href="" class="image">
					<img src="" alt="">
				</a>-->
				<h3></h3>
				<p></p>
			</div>
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/MarketingDirector1.png" alt="">
				</a>
				<h3>Feodor Ploujnikov</h3>
				<p>Marketing Director</p>
			</div>
			<div class="3u">
				<a href="" class="image">
					<img src="./images/Team/MarketingDirector2.png" alt="">
				</a>
				<h3>Scott Lundquist</h3>
				<p>Marketing Director</p>
			</div>
			<div class="3u">
				<!--<a href="" class="image">
					<img src="" alt="">
				</a>-->
				<h3></h3>
				<p></p>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
//little hash hack for homepage
var hash = window.location.hash.split('#/')[1];
		if($(hash)){
			hash_top = $(hash).position().top;
			hash_left = $(hash).position().left;
			window.scrollTo(hash_left,hash_top)
		}
</script>