<div id="main" class="about wrapper">
	<div class="container">
		<div class="row">
			<!-- Content -->
			<div class="col-md-9">
				<section>					
					<h1>Case Competition</h1>
					<h2>The Goal</h2>
					<p class="enlarge">
						Over the last few years several institutions such as Munich and the Actuarial Student National Association, have built various competitions that provides the chance to student Actuaries to show off their abilities to research, analyze and present. This year, York University will be constructing a competition similar to that of these instructions. The goal is to test and appraise the abilities of the York student body. It will also serve as the starting grounds of a York Actuarial Competitive team.
					</p>
					<h2>The Time</h2>
					<p class="enlarge">
						For the upcoming year of 2015/16, we are actively planning four actuarial case contests within York University, one each term (F/W). The first contest will be held on November-6th 2015. The second will be held sometime in the winter term.
					</p>
					<h2>The Setup</h2>
					<p class="enlarge">
						Contestants will be able to work in teams or by themselves. Each team will be given a case which they will have to provide a solution for. The cases will be given to competitors two week in advance. Where they will be able to research and prepare a presentation in which they will have to propose a solution. 
					</p>
					<h2>The Ruling</h2>
					<p class="enlarge">
						Contestants will have 10 minutes to present, where they will be judged on their analysis, presentation, and research skills. Each category will be awarded a score of 0-9, and then will be averaged out to a final score.
					</p>
					<h2>The Event</h2>
					<p class="enlarge">There will be one competition each semester;</p>
					<p class="enlarge">1. Fall Competition,</p> 
					<p class="enlarge">2. Winter Competition.</p>
					<h2>The Judges</h2>
					<p class="enlarge">The panel will consist of industry professionals, including Professor, Actuaries, Insurance Analysts and others.</p>
					<h2>The Students</h2>
					<p class="enlarge">Any student who is enrolled at York University can participate. If students choose to work in groups, the group will have a maximum of 3 people.</p> 
					<h2>Location</h2>
					<p class="enlarge">TBA, close to the due date.</p>	

					<h2>Registration</h2>
					<p class="enlarge">
						In order to register for participation, please fill up the following <a href="http://goo.gl/forms/J30oL9yibI" target="_blank">form</a>, or press on the button bellow. We will contact you shortly after.
					</p>	
					<a href="http://goo.gl/forms/J30oL9yibI" target="_blank" class="york-red-btn">
						Registration Form 
					</a>
				</section>
			</div>
			<!-- Sidebar -->
			<div class="col-md-3">
				<div class="row">
					<h2>Links:</h2>
				</div>
				<div class="row sidebar-box">
					<a href="http://www.anea-asna.ca/2016-niagara" target="_blank">
						<img src="http://www.anea-asna.ca/images/default-source/default-album/logo.png?sfvrsn=0" width="250px">
						<p class="enlarge"> The ASNA 2016 convention promises to bring in employers all across North America to provide students with more opportunities to build network of contacts with actuaries and other students.</p>
					</a>
				</div>
				<div class="row sidebar-box">
					<a href="http://uoftactsciclub.com/wp-content/uploads/2015/01/Munich-Re-Cup-Brochure.pdf" target="_blank">
						<img src="https://media.licdn.com/media-proxy/ext?w=180&h=110&f=c&hash=Kqq08xFmJ8gCclteuZxCsEiAAQo%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0UK-kg8TwVIu9-CNtACg7EhTSpGTDXL4DHz0q4mfaAOsALPBI_L2" width="250px">
						<p class="enlarge">The Munich Re Cup is a Canada-wide case competition designed to provide students with an opportunity to develop and apply their analytical, presentation, and problem solving skills to a real-world business problem. Participating students will be given networking opportunities that will provide them with exposure to Munich Re executives and industry professionals.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>