<div class="footer-wrapper row" id="contact_us">			
	<section class="container">
		<header class="major">
			<h2>Connect with us</h2>
			<span class="byline">
				<div>
					<span class="glyphicon glyphicon-envelope"></span> actsciyorku@gmail.com
				</div>
			</span>
		</header>
		<ul class="icons">
			<li class="active" title="Facebook">
				<a href="https://www.facebook.com/ActuarialStudentAssociationYorkUniversity" class="fa fa-facebook">
				</a>
			</li>
			<li class="active" title="Actuary Department">
				<a href="http://actsci.math.yorku.ca/" class="fa fa-graduation-cap">
				</a>
			</li>
			<li class="active" title="Google+">
				<a href="https://plus.google.com/u/1/102270542725084766252/posts" class="fa fa-google-plus">
				</a>
			</li>
			<li class="active" title="YUConnect">
				<a href="https://yorku.collegiatelink.net/organization/asayu" class="fa fa-users">
				</a>
			</li>
		</ul>
	</section>
</div>