<meta property="og:image" content="images\asa\ASA.jpg" />
<meta property="og:description" content="Actuary Student Association at York University home website."/>

		<div class="wrapper style1" id="banner">
<!-- Banner -->
					<section class="container">
						<h2>Actuarial Students Association of</h2>
						<h2>York University</h2>
					</section>
		</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<div id="content" class="container">
					<div class="row">
						<div class= "7u" id="recent_news_big_main">
							<div class="spinner">
							  <div class="spinner-container container1">
							    <div class="circle1"></div>
							    <div class="circle2"></div>
							    <div class="circle3"></div>
							    <div class="circle4"></div>
							  </div>
							  <div class="spinner-container container2">
							    <div class="circle1"></div>
							    <div class="circle2"></div>
							    <div class="circle3"></div>
							    <div class="circle4"></div>
							  </div>
							  <div class="spinner-container container3">
							    <div class="circle1"></div>
							    <div class="circle2"></div>
							    <div class="circle3"></div>
							    <div class="circle4"></div>
							  </div>
							</div>
						</div>
						<div class="5u" id="Want_be_part_of_the_ASAYU">
							<u><h2>Want be part of the ASAYU?</h2></u><br>
								<p>Any student who is currently enrolled in the Actuarial Science program at York University is automatically a member of the ASA. To receive e-mail updates on job opportunities and club events we recommend that you sign-up for the ASA Mailing List and YUconnect page.Signing up is an easy task. Simply press the link below, or send a email to: actsciyorku@gmail.com.</p>
							<a href="https://yorku.collegiatelink.net/organization/asayu" class="button">YUconnect Page</a>
						</div>
					</div>
				</div>
			</div>

		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Actuarial Science program at York</h2>
					</header>
					<p>For more information about the program please press the buttom bellow.</p>
					<a href="http://actsci.math.yorku.ca/" class="button alt">Program at York</a>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4" id="WiaA">
				<section class="container">
					<header class="major" >
						<h2>What is an Actuary?</h2>
						<span class="byline">An actuary is a business professional who analyzes the financial consequences of risk. They evaluate the likelihood of uncertain future events, design creative ways to reduce their likelihood.. </span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
										<h3>Mathematics</h3>
										<p>An Actuary must be very quick and capable in devising mathematical proofs and techniques to solve problems.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-wrench"></span>
										<h3>Economics</h3>
										<p>Economic theory plays a major role in acturarial science, as many economical models play a role in decision making.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-leaf"></span>
										<h3>Risk and Insurance</h3>
										<p>In order to deal with risky choices such as loans, debt and insirance, companies employ acturay to estimate the future costs and risk of such transactions.</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
<div ng-include="'templates/team.html'"></div>