
<div class="main-wrapper-1 row">
	<!-- Banner -->
	<section class="container">
		<h2 class="banner">Actuarial Students Association of</h2>
		<h2 class="banner">York University</h2>
	</section>
</div>

<!-- Section One -->
<div class="main-wrapper-2 row">
	<div class="container" id="news-partof">
		<div class="col-md-7 container" id="recent_news_big_main">
			<h1>news.mainpage.title</h1>
			<div class="row">
				<div class="col-md-5">
					<img src="images/Misc/comingsoon.jpg">
				</div>
				<p class="col-md-7">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock...
					<hr>
					<a href="" class="york-btn">
						Show More
					</a>
				</p>
			</div>
		</div>
		<div class="col-md-5" id="Want_be_part_of_the_ASAYU">
			<h1>Want be part of the ASAYU?</h1>
			<p>Any student who is currently enrolled in the Actuarial Science program at York University is automatically a member of the ASA. To receive e-mail updates on job opportunities and club events we recommend that you sign-up for the ASA Mailing List and YUconnect page.Signing up is an easy task. Simply press the link below, or send a email to: <b>actsciyorku@gmail.com</b></p>
			<a href="https://yorku.collegiatelink.net/organization/asayu" class="york-btn">YUconnect Page</a>
		</div>
	</div>
	<hr>
</div>

<!-- Section Two -->
<div class="main-wrapper-3 row">
	<section class="container">
		<h2 class="row">Actuarial Science program at York</h2>
		<p class="row">For more information about the program please press the buttom bellow.</p>
		<a href="http://actsci.math.yorku.ca/" class="york-btn york-inverse row">Program at York</a>
	</section>
</div>

<!-- Section Three -->
<div class="main-wrapper-4 row" id="What_is_an_actuary">
	<section class="container">
		<header class="major" >
			<h2>What is an Actuary?</h2>
			<span class="byline">An actuary is a business professional who analyzes the financial consequences of risk. They evaluate the likelihood of uncertain future events, design creative ways to reduce their likelihood.. </span>
		</header>
		<div class="row">
			<div class="col-md-4">
				<ul class="special-icons">
					<li>
						<span class="glyphicon glyphicon-pencil"></span>
						<h3>Mathematics</h3>
						<p>An Actuary must be very quick and capable in devising mathematical proofs and techniques to solve problems.</p>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="special-icons">
					<li>
						<span class="glyphicon glyphicon-signal"></span>
						<h3>Economics</h3>
						<p>Economic theory plays a major role in acturarial science, as many economical models play a role in decision making.</p>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="special-icons">
					<li>
						<span class="glyphicon glyphicon-fire"></span>
						<h3>Risk and Insurance</h3>
						<p>In order to deal with risky choices such as loans, debt and insirance, companies employ acturay to estimate the future costs and risk of such transactions.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<div class="main-wrapper-5" id="executive_team">
	<section class="container">
		<header class="major">
			<h2>Meet our Executive Team!</h2>
		</header>
		<div class="row">
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/ManagingDirector.png" alt="">
				</a>
				<h3>Alexander Tam</h3>
				<p>Managing Director</p>
			</div>
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/FinanceDirector.png" alt="">
				</a>
				<h3>Asad Durrani</h3>
				<p>Finance Director</p>
			</div>
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/AcademicDirector.png" alt="">
				</a>
				<h3>Syed Asghar</h3>
				<p>Academic Director</p>
			</div>
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/Webmaster.png" alt="">
				</a>
				<h3>Ariel Sosnovsky</h3>
				<p>Communication Director</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3></h3>
				<p></p>
			</div>
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/MarketingDirector1.png" alt="">
				</a>
				<h3>Feodor Ploujnikov</h3>
				<p>Marketing Director</p>
			</div>
			<div class="col-md-3">
				<a href="">
					<img src="./images/Team/MarketingDirector2.png" alt="">
				</a>
				<h3>Scott Lundquist</h3>
				<p>Marketing Director</p>
			</div>
			<div class="col-md-3">
				<h3></h3>
				<p></p>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
//little hash hack for homepage
// var hash = window.location.hash.split('#/')[1];
// 		if($(hash)){
// 			hash_top = $(hash).position().top;
// 			hash_left = $(hash).position().left;
// 			window.scrollTo(hash_left,hash_top)
// 		}
</script>