
<div id="main" class="news wrapper">
	<!-- Content -->
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<section class="row">
						<h1>News</h1><br>
					</section>
					<div class="row" ng-repeat="post in tumblr.requested_posts">
						<div class="col-md-11 newsbit text-box-white">
							<h1>{{post.title}}</h1>
							<h6>{{post.time}}</h6>
							<div class="row">
								<img align="left" class="tumblr-pic" ng-src="{{post.img}}">
								<p class="enlarge">
									{{post.body}}
								</p>
								<a href="" ng-click="goTo( 'newsbit/' + post.id + '/' + $index)" class="york-white-btn">
									Show More
								</a>
							</div>
							<br>
						</div>
					</div>
					<nav class="row">
						<ul class="pagination">
							<li>
								<a href="" ng-click="changePag(-1)" aria-label="Previous">
									<i aria-hidden="true">&laquo; Newer</i>
								</a>
							</li>
							<li class="{{pag.class}}" ng-repeat="pag in pagnation">
								<a href="" ng-click="changePag(pag.value)">{{pag.value}}</a>
							</li>
							<li>
								<a href="" ng-click="changePag(0)" aria-label="Next">
									<i aria-hidden="true">Older &raquo;</i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-3" ng-include="'views/sidenews.html'" scope="" onload="">
				</div>
			</div>
		</div>
	</div>
</div>
