<div class="qualifications wrapper container">
	<div class="row">
		<div class="col-md-9 content">
			<section>
				<header class="major">
					<h1>Qualifications</h1>
				</header>
				<h2>Professional Qualifications</h2>
				<p class="enlarge">
					The standard way to qualify as an actuary in Canada is to <b>pass</b> a series of examinations set <b><u>by either</u></b> of two main bodies:
				</p>
				<ul>
					<li>
						<a class="enlarge" href="https://www.soa.org/">-Society of Actuaries (SOA)</a>
						<br>  
						<p class="enlarge">Which concentrates on life and health insurance, pensions, and investments.
						</p>
					</li>
					<li>
						<a class="enlarge" href="http://www.casact.org/">-Casualty Actuarial Society (CAS)</a>
						<br>  
						<p class="enlarge">Which is concerned with property and casualty insurance.
						</p>
					</li>
				</ul>
				<p class="enlarge">
					<b>University credits</b> are <b><u>not acceptable</u></b> as an <b>exemption</b> to that of the society exams, but university courses can certainly help students to prepare for the exams. However, under the new system, certain approved university courses are validated towards SOA credits. 
				</p>
				<p class="enlarge">
					In order to apply to your first entry-level job as an actuary you should have written at least one exam. In practice at least three exams give you better chances of landing your first actuarial job.
				</p>
				<p class="enlarge">
					You should try to have passed three exams by the time you graduate.
				</p>
			</section>
		</div>
		<div class="col-md-3 sidebar">
			<div class="row">
			</div>
			<div class="row">
			</div>
		</div>
	</div>
</div>