<div id="main" class="about wrapper">
	<div class="container">
		<div class="row">
			<!-- Content -->
			<div class="col-md-9">
				<section>					
					<h1>Tutorials</h1>
					
					<p class="enlarge"> 
						For students interested in writing the first two actuarial exams, York University courses do not always cover the entire exam syllabus and when taken on their own, do not insure successful completion of the actuarial exams.
					</p>
					<p class="enlarge">
						An in depth study of the Exam Manuals and a great amount of practice questions is part of what is needed for successful completion of exams.
						Our tutorials go over the SOA exam manuals and allow students to try the practice exams with the help of experienced tutors, who have already taken some exams.
						Thus our tutorials maximize the probability of students successfully completing actuarial exams.
					</p>
					<p class="enlarge">
						Tutorials are currently offered for exam P/1 (Probability) and FM/2 (Financial Mathematics).
						We would strongly recommend attending these tutorials for any student who intends on taking these exams with the Society of Actuaries.
					</p>
					<p class="enlarge">
						There will be one hour per week of tutorials for each exam. Approximately half of the time will be spent learning material from the manual and the other half doing practice questions.
					</p>
					<p class="enlarge">
						<!-- The tutorials will take place in room (…) at time (…) on day (…)
						We hope to see you there. -->
						Time and dates will soon be added.
					</p>
					<p class="enlarge">
						In order to register for participation, please fill up the following <a href="http://goo.gl/forms/J30oL9yibI" target="_blank">form</a>, or press on the button bellow. We will contact you shortly after.
					</p>	
					<a href="http://goo.gl/forms/o8qVbqkfKr" target="_blank" class="york-red-btn">
						Registration Form 
					</a>
				</section>
			</div>
			<!-- Sidebar -->
			<div class="col-md-3">
				<div class="row">
					<h2>Links:</h2>
				</div>
					
			</div>
		</div>
	</div>
</div>